
// define variables
// $bg: #ead;
@use "variables" as var;
@use "base";

body {
  background: var.$bg; // change the background color using the variable $bg
  text-align: center;
  margin-top: 60px;
  margin: 60;
  display: flex;
  // place-items: left;
  // min-width: 320px;
  // min-height: 100vh;
}


// extend is more efficient than mixins as it does not copy
.button {
  border: 0;
  &:hover {
    background: white;
  }
  
  &-primary {
    @extend .button;
    background: #3ab;
  }

  &-secondary {
    @extend .button;
    background: orange;
  }

}


// mixins are like functions. They can be very flexible
// @mixin button($col:#d0c2c2) {
//   background-color: $col;
//   border-radius: 5px;
// }

// .button {
//   @include button; // basically copy the button mixin

//   &:hover {
//    background: #800;
//   }
  

//   &-primary {
//     @include button($col: #3ab);
//     color: yellow;
//   }
// }


// Parent selector
// selector starting with a period indicates it is a class selector
// .button {
//   border: 0;
//   border-radius: 5px;
//   background: #c4b4c4b2;

//   &:hover {
//     background: #800;
//   }

// will be used as button button-primary
//   &-primary {
//     background: #3ab;
//   }

//   .container & {
//     float: right;
//     margin-left: 0.5em;
//   }

// }

// h1 {
//   color: var.$primary;
// }

// :root {
//   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
// }
// a:hover {
//   color: #535bf2;
// }

// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.vanilla:hover {
//   filter: drop-shadow(0 0 2em #f7df1eaa);
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
